<div class="root">
  <header class="header">Umple Java Execution</header>
  <div class="content">
    <div class="code">
      <ngx-codemirror [(ngModel)]="content" [options]="{
        lineNumbers: true
      }"></ngx-codemirror>
    </div>
    <div class="menu">
      <div class="actions">
        <label for="request"># of concurrent request</label>&nbsp;
        <input id="request" type="number" [(ngModel)]="noOfReq" /> <br /> <br />
        <button [disabled]="inProgress" (click)="executeCode()">Execute Code</button>
        <div class="logs" *ngIf="inProgress">
          <p>Compiling & Running...</p>
          <sa-spinner-circular size="25" [thickness]="150" color="blue" [speed]="200"></sa-spinner-circular>
        </div>
        <div *ngIf="results.length > 0">
          <p *ngFor="let result of results;let i = index">Request # {{i+1}} time: {{result?.time}} sec</p>
          <!-- Total time taken: {{timeTaken}} seconds -->
        </div>
      </div>
      <div class="output">
        <h3>Output</h3>
        <hr />
        <p *ngIf="results?.length == 0">No output available.</p>
        <ng-container *ngFor="let result of results; let i = index">
          <strong><p>Request # {{i + 1}}</p></strong>
          <div class="result" *ngIf="result.output">
            <span class="success">{{result?.output}}</span>
          </div>
          <div class="result" *ngIf="result.errors">
            <span class="error">{{result?.errors}}</span>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>